.App {
  position: relative;
  padding-bottom: 50px; /* Leave space for the chat box */
}

.chat-box {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-box input[type="text"] {
  margin-right: 5px;
}